In [1]:
x=(1,3,5,2,3,5,1,1,3,7)
y=[]
for i in x:
    if i not in y:
        y.append(i)

In [2]:
res=tuple(y)

In [3]:
print(res)

(1, 3, 5, 2, 7)

In [ ]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
a,b=b,a
print(a,b)

In [8]:
age=int(input("enter the age"))
if age>18:
    print("Adult")
elif age==18:
    print("Teenager")
elif age<18:
    print("Child")

enter the age19
Adult

In [2]:
a=int(input("enter the digit"))
if a%2==0:
    print("even number")
else:
    print("odd number")

enter the digit22
even number

In [10]:
a=int(input("enter the number"))
if a>0:
    print("Positive")
elif a==0:
    print("Zero")
elif a<0:
    print("Negative")

enter the number+1
Positive

In [21]:
salary=int(input("enter the salary"))
leaves=int(input("enter the leaves"))
if leaves>5:
    ded=(salary*3)/100
    act_sal_ded=salary-ded
    print(act_sal_ded)
else:
    bon=(salary*5)/100
    act_sal_bon= salary+bon
    print(act_sal_bon)

enter the salary10000
enter the leaves6
9700.0

In [24]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(51):
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [26]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [27]:
for i in range(10,31,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30

In [31]:
for i in range(30,9,-2):
    print(i)

30
28
26
24
22
20
18
16
14
12
10

In [32]:
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [33]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [34]:
for i in range(12,121,12):
    print(i)

12
24
36
48
60
72
84
96
108
120

In [35]:
for i in range(30,71):
    if i%2==0:
        print(i)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

In [39]:
for i in range(30,71):
    if i%2==0 and i%5==0:
            print(i)
    else:
            print("-1")

30
-1
-1
-1
-1
-1
-1
-1
-1
-1
40
-1
-1
-1
-1
-1
-1
-1
-1
-1
50
-1
-1
-1
-1
-1
-1
-1
-1
-1
60
-1
-1
-1
-1
-1
-1
-1
-1
-1
70

In [6]:
a=int(input("enter the number"))
if a%3==0 and a%6==0 and a%5!=0:
    print("divisble")
else:
    print("not divisble")

enter the number10
not divisble

In [3]:
a=int(input("enter the digit"))
if a%3==0 and a%6==0 and a%5!=0:
    print("divisble")
else:
        print("not divisble")

enter the digit15
not divisble

In [7]:
a=int(input("enter the first digit"))
b=int(input("enter the second digit"))
if a>b:
    print(a)
elif a==b:
    print("No Greatest value found")
else:
    print(b)

enter the first digit5
enter the second digit5
No Greatest value found

In [10]:
a=int(input("enter the first subject's marks"))
b=int(input("enter the second subject's marks"))
c=int(input("enter the third subject's marks"))
d=int(input("enter the fourth subject's marks"))
avg=(a+b+c+d)/4
print(avg)

enter the first subject's marks1
enter the second subject's marks2
enter the third subject's marks3
enter the fourth subject's marks4
2.5

In [11]:
a=int(input("enter the number"))
b=int(input("enter the number"))
c=int(input("enter the number"))
if a>b and a>c:
    print(a)
elif b>c and b>a:
    print(b)
elif c>a and c>b:
        print(c)

enter the number1
enter the number3
enter the number2
3

In [35]:
a=int(input("enter the number"))
b=int(input("enter the number"))
for i in range(a,b):
    if i%2==0:
        print("even number->",i )
    else:
            print("odd number->", i)

enter the number1
enter the number101
odd number-> 1
even number-> 2
odd number-> 3
even number-> 4
odd number-> 5
even number-> 6
odd number-> 7
even number-> 8
odd number-> 9
even number-> 10
odd number-> 11
even number-> 12
odd number-> 13
even number-> 14
odd number-> 15
even number-> 16
odd number-> 17
even number-> 18
odd number-> 19
even number-> 20
odd number-> 21
even number-> 22
odd number-> 23
even number-> 24
odd number-> 25
even number-> 26
odd number-> 27
even number-> 28
odd number-> 29
even number-> 30
odd number-> 31
even number-> 32
odd number-> 33
even number-> 34
odd number-> 35
even number-> 36
odd number-> 37
even number-> 38
odd number-> 39
even number-> 40
odd number-> 41
even number-> 42
odd number-> 43
even number-> 44
odd number-> 45
even number-> 46
odd number-> 47
even number-> 48
odd number-> 49
even number-> 50
odd number-> 51
even number-> 52
odd number-> 53
even number-> 54
odd number-> 55
even number-> 56
odd number-> 57
even number-> 58
odd number-> 59
even number-> 60
odd number-> 61
even number-> 62
odd number-> 63
even number-> 64
odd number-> 65
even number-> 66
odd number-> 67
even number-> 68
odd number-> 69
even number-> 70
odd number-> 71
even number-> 72
odd number-> 73
even number-> 74
odd number-> 75
even number-> 76
odd number-> 77
even number-> 78
odd number-> 79
even number-> 80
odd number-> 81
even number-> 82
odd number-> 83
even number-> 84
odd number-> 85
even number-> 86
odd number-> 87
even number-> 88
odd number-> 89
even number-> 90
odd number-> 91
even number-> 92
odd number-> 93
even number-> 94
odd number-> 95
even number-> 96
odd number-> 97
even number-> 98
odd number-> 99
even number-> 100

In [38]:
a=int(input("enter the number"))
b=int(input("enter the number"))
x=a
while x<b:
    print(x)
    x=x+1

enter the number1
enter the number101
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [39]:
x=-1
while x<=10:
    print(x)
    x=x+1

-1
0
1
2
3
4
5
6
7
8
9
10

In [42]:
x=-1
while x>=-10:
    print(x)
    x=x-1

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [ ]:
#a=int(input("enter the number"))
#b=int(input("enter the number"))
x=1
    while x>=101:
        if x%2==0:
            print("even number->",x)
        else:
            print("odd number->",x)

            x=x+1

In [11]:
x=1
while x>=50:
        if x%2==0:
            print("even")
        else:
            print("odd")
        x=x+1

In [13]:
x=[1,2,3,4]
y=tuple(x)

In [14]:
print(y)

(1, 2, 3, 4)

In [16]:
x.append(7)

In [17]:
print(x)

[1, 2, 3, 4, 7]

In [19]:
x.remove(7)

In [20]:
print(x)

[1, 2, 3, 4]

In [21]:
a=[(34,78,90,67,41,85,92)]
num=int(input("enter the number"))
for i in a:
    for j in i:
        if j%num==0:
            print("divisible",j)
        else:
            print("not divisible",j)

enter the number4
not divisible 34
not divisible 78
not divisible 90
not divisible 67
not divisible 41
not divisible 85
divisible 92

In [22]:
x=(1,1,3,5,5,7,8,8)
y=[]
for i in x:
    if x not in y:
        y.append(i)

In [25]:
res=tuple(y)
print(res)

(1, 1, 3, 5, 5, 7, 8, 8)

In [6]:
x=1
while x<=10:
    print(x)
    x++

SyntaxError: invalid syntax (3226335186.py, line 4)

In [1]:
x=-18
while x<18:
    print(x)
    x+=1

-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [4]:
for i in range(-18,18):
    print(i)

-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [5]:
x=-18
while x<18:
    print(x)
    x=x+1

-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [2]:
a=int(input("enter the number"))
if a%2==0:
    print("even")
else:
    print("odd")

enter the number22
even

In [7]:
a=int(input("enter the number"))
if a>0:
    print("positive")
elif a==0:
    print("equal to zero")
else:
    print("negative")

enter the number0
equal to zero

In [8]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(5,54,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [14]:
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [24]:
for i in range(30,71):
    if i%2==0:
        print(i)

30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

In [26]:
for i in range(30,71):
    if i%2==0 and i%5==0:
        print(i)
    else:
        print("-1")

30
-1
-1
-1
-1
-1
-1
-1
-1
-1
40
-1
-1
-1
-1
-1
-1
-1
-1
-1
50
-1
-1
-1
-1
-1
-1
-1
-1
-1
60
-1
-1
-1
-1
-1
-1
-1
-1
-1
70

In [27]:
x=0
while x<=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [1]:
x=1
while x<=50:
    if x%2==0:
        print("even",x)
    else:
        print("odd",x)
    x+=1

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50

In [2]:
x=[1,2,3]
print(x)

[1, 2, 3]

In [3]:
type(x)

list

In [4]:
x[1]

2

In [7]:
x[0]

1

In [8]:
print(x)

[1, 2, 3]

In [9]:
x[0]=12

In [10]:
print(x)

[12, 2, 3]

In [11]:
x.append(4)

In [12]:
print(x)

[12, 2, 3, 4]

In [15]:
x=(3,4,5)
print(x)

(3, 4, 5)

In [16]:
type(x)

tuple

In [17]:
x[2]

5

In [22]:
print(x)

(3, 4, 5)

In [28]:
x=[34,45,67,89]
y=[78,90,45,23]
for i in x:
    for j in y:
        if i==j:
            print(i,"common")
       # else:
        #    print(i,"not common")

45 common

In [30]:
x={
    'name':'vihan',
    'marks': 777,
    'age': 24
}

In [31]:
print(x)

{'name': 'vihan', 'marks': 777, 'age': 24}

In [37]:
x.update({'age':45})

In [43]:
print(x)

{'name': 'vihan', 'marks': 777, 'age': 45}

In [4]:
def add():
    a=int(input("enter the 1st number"))
    b=int(input("enter the 2nd number"))
    c=a+b
    print(c)

In [5]:
add()

enter the 1st number23
enter the 2nd number2
25

In [8]:
a='python'
b=''
for i in a:
    b=i+b
print(b)

nohtyp

In [9]:
a='python'
b=''
for i in a:
    b=i+b
print(b)
if a!=b:
    print("reversed")
else:
    print("not reversed")

nohtyp
reversed

In [2]:
x=(1,3,5,2,3,5,11,3,7,9,45,34,9,456,45)
y=[]
for i in x:
    if i not in y:
        y.append(i)
res=list(y)
print(res)

[1, 3, 5, 2, 11, 7, 9, 45, 34, 456]

In [3]:
res

[1, 3, 5, 2, 11, 7, 9, 45, 34, 456]

In [4]:
res.sort()

In [5]:
res

[1, 2, 3, 5, 7, 9, 11, 34, 45, 456]

In [7]:
x={
    'name':'xyz',
    'marks':777,
    'age':25
}

print(x)

{'name': 'xyz', 'marks': 777, 'age': 25}

In [8]:
print(x)

{'name': 'xyz', 'marks': 777, 'age': 25}

In [9]:
x['name']

'xyz'

In [10]:
x['age']

25

In [11]:
x['marks']

777

In [15]:
x={
    'name' : ['a','b','c'],
    'marks': (22,24,26),
    'age'  : (12,14,16)
}

print(x)

{'name': ['a', 'b', 'c'], 'marks': (22, 24, 26), 'age': (12, 14, 16)}

In [16]:
x['name'] [2]

'c'

In [17]:
x['name']='defi'

In [18]:
print(x)

{'name': 'defi', 'marks': (22, 24, 26), 'age': (12, 14, 16)}

In [19]:
x.update({'name':['a','b','c']})

In [20]:
print(x)

{'name': ['a', 'b', 'c'], 'marks': (22, 24, 26), 'age': (12, 14, 16)}

In [22]:
def greet():
    print("gm")

In [23]:
greet()

gm

In [24]:
a='python'
b=''
for i in a:
    b=i+b
print(b)

nohtyp

In [26]:
class greet:
    def fun(self):
        print("hello, world")
g=greet()
g.fun()

hello, world

In [28]:
class employee_salary_details:
    def salary(self):
        salary=int(input("enter your salary"))
        leaves=int(input("enter your leaves"))
        if leaves>5:
            ded=(salary*5)/100
            act_sal_ded=salary-ded
            print(act_sal_ded)
        else:
            bonus=(salary*12)/100
            act_sal_bon=salary+bonus
            print(act_sal_bon)
s=employee_salary_details()
s.salary()

enter your salary10000
enter your leaves4
11200.0

In [29]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
s=student('harshit',25)

In [30]:
s.name

'harshit'

In [31]:
s.age

25

In [33]:
class emp_detail:
    def __init__(self,name,emp_id,salary):
        self.name=name
        self.emp_id=emp_id
        self.salary=salary
e=emp_detail('harshit',777,70000)

In [34]:
e.name

'harshit'

In [35]:
e.emp_id

777

In [36]:
e.salary

70000

In [54]:
class parent:
    def __init__(self,name,addr):
        self.name=name
        self.addr=addr
class child(parent):
    def __init__(self,name,addr,marks):
        parent.__init__(self,name,addr)
        self.marks=marks
c=child('harshit','UP',777)

In [55]:
c.name

'harshit'

In [56]:
c.addr

'UP'

In [57]:
c.marks

777

In [58]:
class gpc:
    def __init__(self,name):
        self.name=name
class pc(gpc):
    def __init__(self,name,age):
        gpc.__init__(self,name)
        self.age=age
class cc(pc):
    def __init__(self,name,age,marks):
        pc.__init__(self,name,age)
        self.marks=marks
c=cc('harshit',24,999)

In [59]:
c.name

'harshit'

In [60]:
c.age

24

In [61]:
c.marks

999

In [63]:
class emp:
    def fun(self,name,sal):
        print(name)
        print(sal)
e=emp()
e.fun('harshit',70000)

harshit
70000

In [14]:
class emp:
    def fun(self,name):
        print(name)
    def fun2(self,sal):
        print(sal)
e=emp()

In [15]:
e.fun('harshit')

harshit

In [16]:
e.fun2('70000')

70000

In [18]:
class python:
    def fun(self,x=2,y=8):
        z=x+y
        return z
p=python()
p.fun(2,4)

6